<!-- Home Page Goes Here -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Deepfake Detective</title>

        <!-- Refer to our Stylesheet -->
        <link href="{{url_for('static', filename='css/index.css')}}" rel = "stylesheet" type="text/css">
        <!-- Boxicons link -->
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <!-- Header section -->
        <header>
            <a href="/" class="logo"><span>D</span>eepfake <span>D</span>etective</a>
        </header>

        <!-- Home section -->
        <section class="home">
            <div class="homeText">

                <h2>Confidently</h2>
                <h3>verify authenticity</h3>
                <p>
                    Unmask the lies and guard your authenticity with
                    Deepfake Detective. Real is rare, trust with care. The
                    Deepfake Detective helps you see what's really there.
                </p>

                <div class="mainBtn">
                    <a href="/deepfake-detective" class="btn">Try the Detective!</a>
                    <a href="https://github.com/tyeborg/deepfake-detective" class="btn repoBtn">Visit the Repository</a>
                </div>
            </div>
        </section>
        <!-- ScrollReveal link -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- Refer to custom JavaScript file link -->
        <script src="{{url_for('static',filename='js/index.js')}}"></script>
    </body>
</html>