<!-- Home Page Goes Here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enable access to BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Reference our CSS -->
    <link href="{{url_for('static',filename='style.css')}}" rel = "stylesheet" type="text/css">
    <script src="{{url_for('static',filename='app.js')}}" async defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="image" checked>
                <input type="radio" name="slider" id="video">
                <label for="image" class="slide image-toggle">Image</label>
                <label for="video" class="slide video-toggle">Video</label>
                <div class="slide-tab"></div>
            </div>
            <div class="form-inner">
                <form action="/uploadImage" method="POST" enctype="multipart/form-data" class="img-upload">
                    <div class="img-area" id="displayImg" data-img="">
                        <h3>Deepfake Image Detector</h3>
                        <input type="file" id="imgUploadBtn" name="file" class="form-input" hidden>
                        <label for="imgUploadBtn"><i class="uil uil-image-upload"></i>Upload Image</label>
                        <p>Supports: JPEG, JPG, PNG</p>
                    </div>
                    <section id="imgErrorArea" class="error-area"></section>
                    <section id="imgUploadedArea" class="uploaded-area"></section>
                    <button type="submit" class="processBtn btnLoading" id="imgProcessBtn" disabled>
                        <span class="processBtnText">Process Image</span>
                    </button>
                </form>
                <form action="#" class="video-upload">
                    <div class="img-area" id="displayVideo" data-img="">
                        <h3>Deepfake Video Detector</h3>
                        <input type="file" id="videoUploadBtn" name="file" accept="video/*" class="form-input" hidden>
                        <label for="videoUploadBtn"><i class="uil uil-video"></i>Upload Video</label>
                        <p>Supports: MP4, MOV</p>
                    </div>
                    <section id="videoErrorArea" class="error-area"></section>
                    <section id="videoUploadedArea" class="uploaded-area"></section>
                    <button type="submit" class="processBtn btnLoading" id="videoProcessBtn" disabled>
                        <span class="processBtnText">Process Image</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>